/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.content-wrapper {
  padding: $spacing-unit-md $spacing-unit-md 0 $spacing-unit-md;
}
