///* ========================================================================
//   #SPACING
//   ======================================================================== */

$spacing-baseline: 6px;

$spacing-ratio-xs: 1;
$spacing-ratio-sm: 2;
$spacing-ratio-md: 4;
$spacing-ratio-lg: 8;
$spacing-ratio-xl: 16;

$spacing-unit-xs: $spacing-baseline * $spacing-ratio-xs;
$spacing-unit-sm: $spacing-baseline * $spacing-ratio-sm;
$spacing-unit-md: $spacing-baseline * $spacing-ratio-md;
$spacing-unit-lg: $spacing-baseline * $spacing-ratio-lg;
$spacing-unit-xl: $spacing-baseline * $spacing-ratio-xl;



