///* ========================================================================
//   #COLORS
//   ======================================================================== */

// Color palette
$color-primary: #f6fcf9;
$color-accent: #4b92e3;

// Shades
$color-black: #111;
$color-white: #eee;

// Feedback
$color-success: #41aa78;
$color-error: #c8a528;
$color-warning: #d84437;

// Typography
$color-text: #427059;
$color-text-heading: #39403d;
$color-text-subtle: #515c57;
$color-link: #515c57;
$color-hover: #39403d;
$color-link-visited: #39403d;

// Buttons

// Icons
