/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-family: $font-primary;
  font-size: $base-font-size;
  line-height: $base-line-height;
  overflow-y: scroll;
  min-height: 100%;
  background-color: $color-black;
  color: $color-white;
}
